{% extends 'account/email/email_template_base.html' %}
{% load i18n %}
{% block message_body %}
<p>Hello,</p>
<p>We received a request to reset the password for your NetVista account. If you made this request, click the button below to reset your password:</p>
<p>If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.</p>
<p>This link will expire in 24 hours for your security.</p>
{% endblock %}
{% block cta_link %}{{ password_reset_url }}{% endblock %}
{% block cta_text %}{% translate "Reset My Password" %}{% endblock %}
