/* typography helpers */

.pg-title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.pg-subtitle {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.pg-link {
  color: #3b82f6;
}

.pg-link:hover {
  color: #1e40af;
}

.pg-text-centered {
  text-align: center;
}

.pg-text-left {
  text-align: left;
}

.pg-text-right {
  text-align: right;
}

.pg-help {
  font-size: 0.875rem;
  color: var(--fallback-bc, oklch(var(--bc)/1));
  opacity: 0.7;
}

.pg-text-primary {
  color: hsl(var(--p));
}

.pg-text-success {
  color: hsl(var(--su));
}

.pg-text-info {
  color: hsl(var(--in));
}

.pg-text-danger {
  color: hsl(var(--er));
}

.pg-text-muted {
  color: var(--fallback-bc, oklch(var(--bc)/1));
  opacity: 0.7;
}

.pg-hidden-mobile-inline {
  display: none;
}

@media (min-width: 768px) {
  .pg-hidden-mobile-inline {
    display: inline-block;
  }
}

.pg-content {
  max-width: none;
}

@media (min-width: 1024px) {
  .pg-content {
    font-size: 1.125rem;
    line-height: 1.75;
  }
}

/*buttons*/

.pg-button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
  border: none;
  cursor: pointer;
}

.pg-button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: transparent;
  color: hsl(var(--p));
  border: 1px solid hsl(var(--p));
  cursor: pointer;
}

.pg-button-light {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: transparent;
  color: hsl(var(--bc));
  border: none;
  cursor: pointer;
}

.pg-button-danger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #ef4444;
  border: 1px solid #ef4444;
  cursor: pointer;
}

.pg-button-danger:hover {
  background-color: #ef4444;
  border-color: #b91c1c;
  color: white;
}

.pg-inline-buttons {
  display: flex;
  gap: 0.25rem;
}

.pg-justify-content-end {
  justify-content: flex-end;
}

.pg-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* forms */
.pg-input-group {
  margin-bottom: 0.75rem;
}

.pg-label {
  display: block;
  font-weight: 700;
}

.pg-control {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--b2));
  background-color: hsl(var(--b1));
  color: hsl(var(--bc));
}

.pg-select select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--b2));
  background-color: hsl(var(--b1));
  color: hsl(var(--bc));
}

.pg-bg-danger {
  background-color: #fee2e2;
}

.pg-bg-success {
  background-color: #dcfce7;
}

/* columns */

.pg-columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .pg-columns {
    flex-direction: row;
    gap: 1rem;
  }
}

.pg-columns-reversed {
  flex-direction: row-reverse;
}

@media (min-width: 1024px) {
  .pg-columns-reversed {
    flex-direction: row-reverse;
  }
}

.pg-column {
  flex: 1;
}

.pg-column-one-quarter {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}

.pg-column-one-third {
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

.pg-align-items-center {
  align-items: center;
}

/* tables */

.pg-table {
  width: 100%;
  border-collapse: collapse;
}

.pg-table tr:nth-child(even) {
  background-color: hsl(var(--b2));
}

.pg-table-responsive {
  overflow-x: auto;
}

/* breadcrumbs */
.pg-breadcrumbs {
  display: flex;
  align-items: center;
}

.pg-breadcrumbs a {
  text-decoration: underline;
}

.pg-breadcrumbs li:first-child {
  padding: 0;
}

.pg-breadcrumbs li:not(:first-child) {
  padding: 0 0 0 0.75em;
}

.pg-breadcrumbs li:not(:first-child)::before {
  color: gray;
  content: '\0002f';
  float: left;
  padding-right: 0.75em;
}

.pg-breadcrumb-active {
  color: #7a7a7a;
}

/* cards */

.pg-card {
  background-color: hsl(var(--b1));
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.pg-card-body {
  padding: 2rem;
  padding-top: 0;
}

.pg-ratio-3x2 {
  aspect-ratio: 3 / 2;
}

/* badges */
.pg-badge-default {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 9999px;
  background-color: hsl(var(--b2));
  color: hsl(var(--bc));
}

.pg-badge-success {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 9999px;
  background-color: hsl(var(--su));
  color: hsl(var(--suc));
}
