{% extends "web/base.html" %}
{% load i18n %}
{% block top_nav %}
  {% include 'network/components/top_nav.html' %}
{% endblock %}
{% block body %}
  {% block notifications %}
  {% endblock %}
  <div id="htmx-error" class="alert alert-error alert-soft flex justify-between rounded-none! hidden" role="alert">
    <span>{% translate "An error occurred while loading the content. Please try again." %}</span>
    <button class="btn btn-sm btn-ghost" onclick="this.parentElement.classList.add('hidden')">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <section class="section" hx-on::response-error="document.getElementById('htmx-error').classList.remove('hidden')">
    <div class="flex flex-row">
      <div class="hidden lg:block">
        {% block sidebar-nav %}
          {% include "network/components/sidebar.html" %}
        {% endblock %}
      </div>
      <div class="flex-1 min-w-0 p-6">
        {% block app %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
